/* Css Selactor*/
body {
  /*CSS Rule*/
  /* Eksempel: background-color: rgb(63, 52, 52);
  color: rgb(0, 255, 115); */
  margin: 0;
}

header {
  border-width: 10px;
  border-style: solid;
  border-color: black;
  /*Man vill få en hvot rammen om en ikke endere "margin" i <body> */
}

ul {
  display: flex;
  /* bruk flex ikke flexbox */
  flex-direction: row;
  justify-content: end;
  align-items: center;  
  /* bruk Inspect på web sider */
  list-style-type: none;
  gap: 20px;
  /* Oppe Nede Høyre Venster padding: 10xp 10xp 10xp 10xp; */
  padding-inline-end: 10px;
  }

  section {
    height: 100vh;
    background-color: rgb(141, 181, 194);
  }

  /* Husk "." nård eet er en clase */
  .HomeSection {
    background-color: rgb(128, 128, 187);
  }

  /* # når man bruker ID */
  #OmMeg {
    background-color: rgb(196, 196, 140);
  }

  footer {
    display: flex;
    justify-content: center;
    color: black;
  }

